* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* colors */
  --purple: #28242f;
  --gray: #8e8f8e;
  --orange: #df4e42;
  --lightorange: #f2984b;
  --white: #f3f0ed;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--purple);
  color: var(--white);
}

.container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
#cardGrid {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  font-family: 'Roboto', sans-serif;
  background: var(--purple);
}

.cardDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 125px;
  height: 125px;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  border: 2px solid var(--lightorange);
  background-color: var(--purple);
}

.cardDiv img {
  width: 28px;
}
.cardDiv:hover {
  animation: pulse 0.22s ease-in-out;
  z-index: 100;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.quote {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 95%;
  font-weight: 500;
}

h1 {
  color: var(--white);
}

.btn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin: 1rem;
}
.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.btn:hover {
  transform: translateY(-1px);
}
.btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.selected {
  background-color: #f2984b;

  color: var(--purple);
}

h1 {
  animation: text-shadow 1.5s ease-in-out;
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
}

a:hover {
  text-decoration: none;
}

@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd,
      0 -0.125em 0 #fb203b, 0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.5em);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  99% {
    color: var(--white);
  }
}
